/test.gcno
/test.gcda
/tau.selective
/gmon.out
/.travis.yml
/.gitattributes
/.project
/.cproject
/.travis.yml
/.settings/
/vectorbenchMP.exe
/vectorbenchNATIVE_O0.exe
/vectorbenchNATIVE_O1.exe
/vectorbenchNATIVE_O2.exe
/vectorbenchNATIVE_O3.exe
/vectorbenchNATIVE_PROF.exe
/vectorbenchNATIVE.exe
